<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DelayDecrement</key>
	<string>0</string>
	<key>DelayMs</key>
	<string>200</string>
	<key>Board_Height</key>
	<integer>8</integer>
	<key>Board_Width</key>
	<integer>8</integer>
	<key>Points</key>
	<integer>10000</integer>
</dict>
</plist>
